@-webkit-keyframes title-in {
	0% 		{ -webkit-transform: translateY(300%); }
	100% 	{ -webkit-transform: translateY(-10%); }
}

@-webkit-keyframes list-in {
	0% 		{ -webkit-transform: translateY(-10%); }
	20% 	{ -webkit-transform: translateY(0%); opacity: 1; }
	80% 	{ opacity: 1; }
	100% 	{ opacity: 1; }
}

#lists-anim {
	max-width: 500px;
	min-height: 350px;
	overflow: hidden;

	svg { width: 100%; }

	#title001 	{ -webkit-transform: translateY(300%); }
	#list001 	{ opacity: 0; }
}

text#FA {
	font-family: 'FontAwesome', sans-serif !important;
	font-weight: 300 !important;
}

#lists-anim.start {

	#list001 {
		-webkit-animation: list-in 2s ease;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-delay: 0.5s;
	}

}
