@-webkit-keyframes timelineanim {
	0% 		{ -webkit-transform: translateX(0%) scale(1); }

	20% 	{ -webkit-transform: translateX(0%) scale(1.8); }
	25% 	{ -webkit-transform: translateX(0%) scale(1.8); }

	60% 	{ -webkit-transform: translateX(-80%) scale(1.8); }
	65% 	{ -webkit-transform: translateX(-80%) scale(1.8); }

	85% 	{ -webkit-transform: translateX(0%) scale(1); }
	100% 	{ -webkit-transform: translateX(0%) scale(1); }
}

#timeline-anim {
	max-width: 500px;
	min-height: 350px;
	overflow: hidden;

	svg { width: 100%; }

	.wrap {
		transform-origin: 0 175px;
		-webkit-transform: translateY(0%) translateX(0%) scale(1);
		// opacity: 0;
		// @include transition(all 2s ease);
	}
}

#timeline-anim.start {

	.wrap {

		-webkit-animation: timelineanim 5s ease;
		-webkit-animation-fill-mode: forwards;
		// opacity: 1;
	}

}
